{% extends "auctions/layout.html" %}

{% block body %}
<div class="container">
    <h2>{{title}}</h2>
</div>
<div class="container" id="listings" style="top:12em;">
    <h3>This listing is no longer active.</h3>
    {% if cb.winner == user.username %}
    <h4>Congratulations 🏆</h4>
    <p>You won this bid.</p>
    {% endif %}
    <ul>
        <li><b>Owner:</b>&nbsp;{{cb.owner}}</li>
        <li><b>Winner:</b>&nbsp;{{cb.winner}}</li>
        <li><b>Winning Price:</b>&nbsp;{{cb.winprice}}</li>
    </ul>
</div>
{% endblock %}